body {
    font-family: 'Inter',  sans-serif; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #5988FF; /* Warna latar belakang laman web */
    color: #FFFFFF; /* Warna teks */ 
}
h1 {
    color: #FD98FB; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: 'Inter',  sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
    border-bottom: 3px solid #D6FF6B; /* Garis bawah tajuk (header) */
    max-width: 200px; /* Ketebalan garis bawah tajuk (header) */
}
h2 {
    color: #FD98FB; /* Warna tajuk (header) */
    font-size: 20px; /* Ukuran font tajuk (header) */
    font-family: 'Inter',  sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}
h3 {
    color: #FD98FB; /* Warna tajuk (header) */
    font-size: 18px; /* Ukuran font tajuk (header) */
    font-family: 'Inter',  sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}